html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Francois One', sans-serif;
}

nav {
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: rgba(20, 114, 161, 1);
  position: fixed;
  top: 0;
}

nav > ul > li {
  display: inline-block;
  margin: 0 50px;
  padding-top: 0px;
}

nav > ul > li > a:link {
  color: rgb(109, 200, 245);
  text-decoration: none;
}

nav > ul > li > a:visited {
  color: rgb(109, 200, 245);
  text-decoration: none;
}

nav > ul > li > a:hover {
  color: rgb(178, 214, 232);
  text-decoration: none;
}

main {
  width: 100%;
  height: 100%;
}

.contenedor {
  text-align: center;
  width: 100%;
  min-height: 100%;
  padding: 60px 0;
}

#cronograma {
  color: rgb(20, 54, 60);
  background-image: url(../img/fondoCronograma.png);
  background-repeat: no-repeat;
  background-position: center;
}

#cronograma > table, td, th {
  border: 1px solid;
  text-align: center;
  vertical-align: super;
}

#cronograma > table {
  border-collapse: collapse;
  width: 100%;
}

#cronograma > th, td {
  padding: 15px;
}

#cronograma th {
  color: rgb(33, 96, 106);
  font-size: 40px;
}

#cronograma td {
  font-size: 20px;
}

#moreinfo {
  width: 30px;
  height: 30px;
}

#apertura {
  color: rgb(20, 54, 60);
  background-image: url(../img/fondoCronograma.png);
  background-repeat: no-repeat;
  background-position: center;
}

#apertura > img {
  width: 80%;
  height: 350px;
}

p {
  margin-left: 150px;
  margin-right: 150px;
  text-align: justify;
}

#ponencia {
  margin-left: 150px;
  margin-right: 150px;
  text-align: left;
}

#tituloPonencia {
  color: rgb(29, 81, 91);
}

#contacto {
  color: rgb(230, 217, 197);
  background-image: url(../img/contact.jpeg);
}

#talleres {
  color: rgb(20, 54, 60);
  background-image: url(../img/fondoCronograma.png);
  background-repeat: no-repeat;
  background-position: center;
}

#talleres > table, td, th {
  border: 1px solid;
  text-align: center;
  vertical-align: super;
  margin-left: 150px;
}

#talleres > table {
  border-collapse: collapse;
  width: 80%;
}

#talleres > th, td {
  padding: 15px;
}
#talleres th {
  background-color: rgba(20, 114, 161, 1);
  color: rgb(109, 200, 245);
}

#talleres img {
  height: 130px;
  width: 130px;
  border-radius: 30%;
}


#contacto input, #contacto textarea {
  margin: 5px;
  width: 80%;
}
