html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Francois One', sans-serif;
}

nav {
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: rgba(20, 114, 161, 1);
  position: fixed;
  top: 0;
}

nav > ul > li {
  display: inline-block;
  margin: 0 50px;
  padding-top: 0px;
}

ul {
  list-style: none;
}

nav > ul > li > ul {
  background-color: rgba(20, 114, 161, 1);
  text-align: left;
  padding-top: 30px;
  display: none;
  position: absolute;
}

nav > ul > li:hover > ul {
  display: block;
}

nav > ul > li > ul > li > a:link {
  color: rgb(109, 200, 245);
  text-decoration: none;
}

nav > ul > li > ul > li > a:visited {
  color: rgb(109, 200, 245);
  text-decoration: none;
}

nav > ul > li > ul > li:hover {
  background-color: rgba(14, 82, 116, 1);
  color: rgb(109, 200, 245);
  text-decoration: none;
}

nav > ul > li > a:link {
  color: rgb(109, 200, 245);
  text-decoration: none;
}

nav > ul > li > a:visited {
  color: rgb(109, 200, 245);
  text-decoration: none;
}

nav > ul > li > a:hover {
  color: rgb(178, 214, 232);
  text-decoration: none;
}

main {
  width: 100%;
  height: 100%;
}

.contenedor {
  text-align: center;
  width: 100%;
  min-height: 100%;
  padding: 60px 0;
}

#cronograma {
  color: rgb(20, 54, 60);
  background-image: url(../img/fondoCronograma.png);
  background-repeat: no-repeat;
  background-position: center;
}

#cronograma > table, td, th {
  border: 1px solid;
  text-align: center;
  vertical-align: super;
}

#cronograma > table {
  border-collapse: collapse;
  width: 100%;
}

#cronograma > th, td {
  padding: 15px;
}

#cronograma th {
  color: rgb(33, 96, 106);
  font-size: 40px;
}

#cronograma td {
  font-size: 20px;
}

#moreinfo {
  width: 70px;
  height: 70px;
  border-radius: 80%;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

#apertura {
  color: rgb(20, 54, 60);
  background-image: url(../img/fondoCronograma.png);
  background-repeat: no-repeat;
  background-position: center;
}

#apertura > img {
  width: 80%;
  height: 350px;
}

p {
  margin-left: 150px;
  margin-right: 150px;
  text-align: justify;
}

#ponencia {
  margin-left: 150px;
  margin-right: 150px;
  text-align: left;
}

#tituloPonencia {
  color: rgb(29, 81, 91);
}

#contacto {
  color: rgb(230, 217, 197);
  background-image: url(../img/contact.jpeg);
}

#talleres {
  color: rgb(20, 54, 60);
  background-image: url(../img/fondoCronograma.png);
  background-repeat: no-repeat;
  background-position: center;
}

#talleres > table, td, th {
  border: 1px solid;
  text-align: center;
  vertical-align: super;
  margin-left: 150px;
}

#talleres > table {
  border-collapse: collapse;
  width: 80%;
}

#talleres > th, td {
  padding: 15px;
}

#talleres th {
  background-color: rgba(20, 114, 161, 1);
  color: rgb(109, 200, 245);
}

#talleres img {
  height: 250px;
  width: 250px;
  border-radius: 30%;
}

#recreativo {
  color: rgb(20, 54, 60);
  background-image: url(../img/fondoCronograma.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 30px;
}

#recreativo img {
  width: 50%;
  height: 350px;
}

#recreativo img:hover {
  opacity: 0.5;
}

#historia {
  color: rgb(20, 54, 60);
  background-image: url(../img/fondoCronograma.png);
  background-repeat: no-repeat;
  background-position: center;
}

#historia img{
  border-radius: 10%;
  height: 500px;
  width: 700px;
}


#contacto {
  color: rgb(20, 54, 60);
  background-image: url(../img/fondoCronograma.png);
  background-repeat: no-repeat;
  background-position: center;
}

.myButton {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
	background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	background-color:#33bdef;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	padding:15px 57px;
	text-decoration:none;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
	background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
	background-color:#019ad2;
}
.myButton:active {
	position:relative;
	top:1px;
}
